<h1 class="mt-4">Listagem</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Clientes</li>
</ol>
<div class="container">

    <div *ngIf="clientes?.length > 0">
        <div class="table-responsive">
            <table class="table table-hover table-bordered mt-3">
                <thead class="table-dark">
                    <tr>
                        <th>ID</th>
                        <th>Nome</th>
                        <th>CPF</th>
                        <th>Data de Cadastro</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let cliente of clientes | paginate: { itemsPerPage: 8, currentPage: paginaAtual }">
                        <td>{{ cliente.id }}</td>
                        <td>{{ cliente.nome }}</td>
                        <td>{{ cliente.cpf }}</td>
                        <td>{{ cliente.dataCadastro }}</td>
                        <td>
                            <button class="btn btn-sm btn-info me-1" routerLink="/clientes-update/{{cliente.id}}" (click)="atualizarCliente(cliente.id)">
                                <i class="fa-solid fa-pen"></i> Editar
                            </button>
                            <button class="btn btn-sm btn-danger ms-1" (click)="excluirCliente(cliente.id)">
                                <i class="fa-solid fa-xmark"></i> Excluir
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <pagination-controls (pageChange)="paginaAtual = $event" previousLabel="Anterior" nextLabel="Próxima"
            maxSize="5" class="d-flex justify-content-center mt-3">
        </pagination-controls>
    </div>

    <div class="d-flex justify-content-center" *ngIf="clientes?.length === 0" style="height: 25vh;">
        <div class="card" style="width: 18rem;">
            <img src="../../../assets/images/4445660.jpg" class="card-img-top" alt="Nada por aqui">
            <div class="card-body">
                <p class="card-text text-center">Nada por aqui.</p>
            </div>
        </div>
    </div>

</div>